# Default owner for all files
* @jayachandrapal000

# Specific owner for dev folder
/dev/ @jayachandrapal000

# Specific owner for uat folder
/uat/ @Raja727

# Specific owner for sample-project folder
/sample-project/ @jayachandrapal000
