# Default owner for all files
* @jayachandrapal000

# Specific owner for dev folder
/dev/ @jayachandrapal000

# Specific owner for files like testing1groovy.com, testing2groovy.com, etc.
/dev/testing*groovy.com @jaiskyde

# Specific owner for uat folder
/uat/ @jaiskyde

# Specific owner for sample-project folder
/sample-project/ @jayachandrapal000

